#define ZMK_POINTING_DEFAULT_SCRL_VAL 25

// Константы для перемещений

#define MMV_SLOW_ALT_SPEED 250
#define MMV_FAST_ALT_SPEED 850
#define MMV_SLOW_SPEED 250
#define MMV_FAST_SPEED 880

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    tapping-term-ms = <180>;
    flavor = "balanced";
    require-prior-idle-ms = <120>;
};

&msc {
    time-to-max-speed-ms = <8>;
    acceleration-exponent = <5>;
};

&mmv {
    acceleration-exponent = <0>;
    time-to-max-speed-ms = <100>;
    delay-ms = <0>;
};

&lt { tapping-term-ms = <171>; };

/ {
    behaviors {
        enc_vol: enc_vol {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENC_VOL";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOL_UP>, <&kp C_VOL_DN>;
        };

        ctrl_bslh: ctrl_bslh {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_BSLH";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp BACKSLASH>;

            mods = <(MOD_LCTL | MOD_RCTL)>;
        };

        ctrl_left_bracket: ctrl_left_bracket {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_LEFT_BRACKET";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp LEFT_BRACKET>;

            mods = <(MOD_LCTL | MOD_RCTL)>;
        };

        ctrl_right_bracket: ctrl_right_bracket {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_RIGHT_BRACKET";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp RIGHT_BRACKET>;

            mods = <(MOD_LCTL | MOD_RCTL)>;
        };

        ctrl_p_sqt: ctrl_p_sqt {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_P_SQT";
            #binding-cells = <0>;
            bindings = <&kp P>, <&kp SQT>;

            mods = <(MOD_LCTL | MOD_RCTL)>;
        };

        alt_scrl_up: alt_scrl_up {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_SCRL_UP";
            #binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc MOVE_Y(50)>;

            mods = <(MOD_LSFT | MOD_RSFT)>;
        };

        alt_scrl_down: alt_scrl_down {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_SCRL_DOWN";
            #binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc MOVE_Y(-50)>;

            mods = <(MOD_LSFT | MOD_RSFT)>;
        };

        alt_y_up: alt_y_up {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_Y_UP";
            #binding-cells = <0>;
            bindings =
                <&mmv MOVE_Y(-MMV_SLOW_ALT_SPEED)>,
                <&mmv MOVE_Y(-MMV_FAST_ALT_SPEED)>;

            mods = <(MOD_LALT | MOD_RALT)>;
        };

        alt_y_down: alt_y_down {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_Y_DOWN";
            #binding-cells = <0>;
            bindings =
                <&mmv MOVE_Y(MMV_SLOW_ALT_SPEED)>,
                <&mmv MOVE_Y(MMV_FAST_ALT_SPEED)>;

            mods = <(MOD_LALT | MOD_RALT)>;
        };

        alt_x_left: alt_x_left {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_X_LEFT";
            #binding-cells = <0>;
            bindings =
                <&mmv MOVE_X(-MMV_SLOW_ALT_SPEED)>,
                <&mmv MOVE_X(-MMV_FAST_ALT_SPEED)>;

            mods = <(MOD_LALT | MOD_RALT)>;
        };

        alt_x_right: alt_x_right {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_X_RIGHT";
            #binding-cells = <0>;
            bindings =
                <&mmv MOVE_X(MMV_SLOW_ALT_SPEED)>,
                <&mmv MOVE_X(MMV_FAST_ALT_SPEED)>;

            mods = <(MOD_LALT | MOD_RALT)>;
        };

        alt_y_up_i: alt_y_up_i {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_Y_UP_I";
            #binding-cells = <0>;
            bindings =
                <&mmv MOVE_Y(-MMV_FAST_SPEED)>,
                <&mmv MOVE_Y(-MMV_SLOW_SPEED)>;

            mods = <(MOD_LALT | MOD_RALT)>;
        };

        alt_y_down_i: alt_y_down_i {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_Y_DOWN_I";
            #binding-cells = <0>;
            bindings =
                <&mmv MOVE_Y(MMV_FAST_SPEED)>,
                <&mmv MOVE_Y(MMV_SLOW_SPEED)>;

            mods = <(MOD_LALT | MOD_RALT)>;
        };

        alt_x_left_i: alt_x_left_i {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_X_LEFT_I";
            #binding-cells = <0>;
            bindings =
                <&mmv MOVE_X(-MMV_FAST_SPEED)>,
                <&mmv MOVE_X(-MMV_SLOW_SPEED)>;

            mods = <(MOD_LALT | MOD_RALT)>;
        };

        alt_x_right_i: alt_x_right_i {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_X_RIGHT_I";
            #binding-cells = <0>;
            bindings =
                <&mmv MOVE_X(MMV_FAST_SPEED)>,
                <&mmv MOVE_X(MMV_SLOW_SPEED)>;

            mods = <(MOD_LALT | MOD_RALT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        M__ENTER {
            bindings = <&kp ENTER>;
            key-positions = <45 46>;
            layers = <0 5 6 1 2 7>;
        };

        JK_ENTER {
            bindings = <&kp ENTER>;
            key-positions = <31 32>;
            layers = <3 4>;
        };

        VB_ENTER {
            bindings = <&kp ENTER>;
            key-positions = <41 40>;
        };

        UI_REVERT {
            bindings = <&kp RG(Z)>;
            key-positions = <20 19>;
            layers = <0 1 3 4 4 5>;
        };

        UIO_REPEAT {
            bindings = <&kp LS(LG(Z))>;
            key-positions = <19 20 21>;
            layers = <0 1 3 4 4 5>;
        };

        JK_MOUSE1 {
            bindings = <&mkp MB1>;
            key-positions = <45 46>;
            layers = <3 4>;
        };

        JKL_MOUSE2 {
            bindings = <&mkp MB2>;
            key-positions = <45 46 47>;
            layers = <3 4>;
        };

        DF_MOUSE1 {
            bindings = <&mkp MB1>;
            key-positions = <40 39>;
        };

        SDF_MOUSE2 {
            bindings = <&mkp MB2>;
            key-positions = <40 39 38>;
        };

        CAPS_RIGHT {
            bindings = <&kp CAPS>;
            key-positions = <44 45>;
        };

        l-gui-tab {
            bindings = <&kp LG(TAB)>;
            key-positions = <16 15>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp ESC      &kp F2      &kp F3       &kp F4       &kp F5       &kp F6                                   &kp F7               &kp F8           &kp F9              &kp F10              &kp F11        &kp F12
&kp LG(TAB)  &kp Q       &kp W        &kp E        &kp R        &kp T                                    &kp Y                &kp U            &kp I               &kp O                &ctrl_p_sqt    &kp GRAVE
&none        &mt LGUI A  &mt LCTRL S  &mt LALT D   &mt LSHFT F  &kp G                                    &kp H                &mt RSHIFT J     &mt RALT K          &mt RCTRL L          &mt RGUI SEMI  &kp SQT
&lt 7 ENTER  &kp Z       &kp X        &kp C        &kp V        &kp B        &lt 7 ENTER    &lt 7 ENTER  &kp N                &kp M            &ctrl_left_bracket  &ctrl_right_bracket  &ctrl_bslh     &lt 7 BSLH
                         &lt 7 MINUS  &lt 5 EQUAL  &lt 6 TAB    &lt 4 SPACE  &lt 7 DEL      &lt 2 ESC    &lt 3 RG(RC(SPACE))  &lt 5 BACKSPACE  &lt 6 LBKT          &lt 7 RIGHT_BRACKET
            >;

            display-name = "base";
        };

        base_mirror {
            bindings = <
&kp ESC     &kp F8         &kp F9       &kp F10     &kp F11          &kp F12                                  &kp F2       &kp F3       &kp F4       &kp F5       &kp F6      &kp F7
&kp GRAVE   &kp P          &kp O        &kp I       &kp U            &kp Y                                    &kp T        &kp R        &kp E        &kp W        &kp Q       &kp LG(TAB)
&kp SQT     &mt RGUI SEMI  &mt RCTRL L  &mt RALT K  &mt RSHIFT J     &kp H                                    &kp G        &mt LSHFT F  &mt LALT D   &mt LCTRL S  &mt LGUI A  &none
&lt 7 BSLH  &kp FSLH       &kp DOT      &kp COMMA   &kp M            &kp N            &trans       &trans     &kp B        &kp V        &kp C        &kp X        &kp Z       &to 0
                           &kp LBKT     &lt 5 RBKT  &lt 6 BACKSPACE  &lt 4 LC(SPACE)  &lt 2 ESC    &lt 2 DEL  &lt 3 SPACE  &lt 5 TAB    &lt 6 EQUAL  &kp MINUS
            >;

            display-name = "base-mirror";
        };

        funct {
            bindings = <
&kp MINUS  &kp N1       &kp N2                &kp N3                 &kp N4         &kp N5                             &kp N6        &kp N7         &kp N8                &kp N9                 &kp N0       &kp EQUAL
&trans     &kp F3       &kp F9                &kp F8                 &kp F7         &kp ESC                            &kp TAB       &kp F7         &kp F8                &kp F9                 &kt F3       &none
&trans     &mt LGUI F2  &mt LCTRL F6          &mt LALT F5            &mt LSHIFT F4  &kp CAPSLOCK                       &kp SPACE     &mt RSHFT F4   &mt RALT F5           &mt RCTRL F6           &mt RGUI F2  &none
&trans     &kp F1       &kp F12               &kp F11                &kp F10        &kp BACKSPACE  &trans     &trans   &kp DEL       &kp F10        &kp F11               &kp F12                &kp F1       &mo 7
                        &kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)  &kp TAB        &kp SPACE      &kp DEL    &kp ESC  &kp CAPSLOCK  &kp BACKSPACE  &kp RG(LEFT_BRACKET)  &kp RG(RIGHT_BRACKET)
            >;

            display-name = "funct";
        };

        nav-r {
            bindings = <
&trans  &trans                        &trans                       &trans                        &trans                       &trans                                           &trans                 &trans         &trans                &trans                 &trans           &trans
&trans  &msc SCRL_DOWN                &msc SCRL_UP                 &kp PAGE_DOWN                 &kp PAGE_UP                  &msc SCRL_LEFT                                   &msc SCRL_RIGHT        &kp PG_UP      &kp PAGE_DOWN         &alt_scrl_up           &alt_scrl_down   &msc SCRL_LEFT
&trans  &kp LGUI                      &kp LCTRL                    &kp LALT                      &kp LSHFT                    &kp LG(LEFT_BRACKET)                             &kp RG(LEFT_BRACKET)   &kp LEFT       &kp UP                &kp DOWN               &kp RIGHT_ARROW  &msc SCRL_RIGHT
&trans  &mmv MOVE_X(-MMV_FAST_SPEED)  &mmv MOVE_Y(MMV_FAST_SPEED)  &mmv MOVE_Y(-MMV_FAST_SPEED)  &mmv MOVE_X(MMV_FAST_SPEED)  &kp LG(RIGHT_BRACKET)  &trans        &trans      &kp RG(RIGHT_BRACKET)  &alt_x_left    &alt_y_up             &alt_y_down            &alt_x_right     &mo 7
                                      &kp LG(LEFT_BRACKET)         &kp LG(RIGHT_BRACKET)         &kp TAB                      &kp SPACE              &kp DELETE    &kp ESCAPE  &kp CAPSLOCK           &kp BACKSPACE  &kp RG(LEFT_BRACKET)  &kp RG(RIGHT_BRACKET)
            >;

            display-name = "nav-r";
        };

        nav-l {
            bindings = <
&trans           &trans          &trans                &trans                 &trans           &trans                                        &trans                 &trans                        &trans                        &trans                       &trans                       &trans
&msc SCRL_LEFT   &msc SCRL_DOWN  &msc SCRL_UP          &kp PAGE_DOWN          &kp PG_UP        &msc SCRL_LEFT                                &msc SCRL_RIGHT        &kp PAGE_UP                   &kp PAGE_DOWN                 &msc SCRL_UP                 &msc SCRL_DOWN               &trans
&msc SCRL_RIGHT  &kp LEFT        &kp DOWN              &kp UP                 &kp RIGHT_ARROW  &kp LG(LEFT_BRACKET)                          &kp RG(LEFT_BRACKET)   &kp RSHFT                     &kp RALT                      &kp RCTRL                    &kp RGUI                     &trans
&trans           &alt_x_left     &alt_y_up             &alt_y_down            &alt_x_right     &kp LG(RIGHT_BRACKET)  &trans        &none    &kp RG(RIGHT_BRACKET)  &mmv MOVE_X(-MMV_FAST_SPEED)  &mmv MOVE_Y(-MMV_FAST_SPEED)  &mmv MOVE_Y(MMV_FAST_SPEED)  &mmv MOVE_X(MMV_FAST_SPEED)  &mo 7
                                 &kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)  &kp TAB          &kp SPACE              &kp DELETE    &kp ESC  &kp CAPSLOCK           &kp BACKSPACE                 &kp RG(LEFT_BRACKET)          &kp RG(RIGHT_BRACKET)
            >;

            display-name = "nav-l";
        };

        num {
            bindings = <
&kp MINUS  &kp N1       &kp N2        &kp N3       &kp N4        &kp N5                                &kp N6        &kp N7         &kp N8            &kp N9        &kp N0       &kp EQUAL
&trans     &kp EQUAL    &kp N9        &kp N8       &kp N7        &kp MINUS                             &kp MINUS     &kp N7         &kp N8            &kp N9        &kp EQUAL    &none
&trans     &mt LGUI N0  &mt LCTRL N6  &mt LALT N5  &mt LSHFT N4  &kp EQUAL                             &kp EQUAL     &mt RSHIFT N4  &mt RIGHT_ALT N5  &mt RCTRL N6  &mt RGUI N0  &none
&trans     &kp MINUS    &kp N3        &kp N2       &kp N1        &kp BACKSPACE  &trans        &trans   &kp DEL       &kp N1         &kp N2            &kp N3        &kp MINUS    &mo 7
                        &trans        &trans       &kp TAB       &kp SPACE      &kp DELETE    &kp ESC  &kp CAPSLOCK  &kp BACKSPACE  &trans            &trans
            >;

            label = "num";
        };

        symb {
            bindings = <
&kp LS(MINUS)  &kp LS(N1)     &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)                            &kp RS(N6)    &kp RS(N7)     &kp RS(N8)  &kp RS(N9)  &kp RS(N0)     &kp RS(EQUAL)
&trans         &kp LS(EQUAL)  &kp LS(N9)  &kp LS(N8)  &kp LS(N7)  &kp ESCAPE                            &kp TAB       &kp RS(N7)     &kp RS(N8)  &kp RS(N9)  &kp RS(EQUAL)  &none
&trans         &kp LS(N0)     &kp LS(N6)  &kp LS(N5)  &kp RS(N4)  &kp CAPSLOCK                          &kp SPACE     &kp RS(N4)     &kp RS(N5)  &kp RS(N6)  &kp RS(N0)     &none
&trans         &kp RS(MINUS)  &kp RS(N3)  &kp RS(N2)  &kp RS(N1)  &kp BACKSPACE  &trans        &trans   &kp DELETE    &kp RS(N1)     &kp RS(N2)  &kp RS(N3)  &kp RS(MINUS)  &mo 7
                              &trans      &trans      &kp TAB     &kp SPACE      &kp DELETE    &kp ESC  &kp CAPSLOCK  &kp BACKSPACE  &trans      &trans
            >;

            label = "symb";
        };

        layers {
            bindings = <
&to 0  &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP                    &to 8        &none       &none     &none      &none     &to 0
&to 0  &kp C_PREV  &kp C_PP          &kp C_NEXT  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP                    &none        &kp RSHIFT  &kp RALT  &kp RCTRL  &kp RGUI  &to 0
&to 0  &kp LGUI    &kp LCTRL         &kp LALT    &kp LSHIFT         &tog 0                             &tog 0       &kp RSHIFT  &kp RALT  &kp RCTRL  &kp RGUI  &trans
&to 0  &kp LGUI    &kp LCTRL         &kp LALT    &kp LSHFT          &kp LG(TAB)      &trans    &trans  &kp RG(TAB)  &kp RSHIFT  &kp RALT  &kp RCTRL  &kp RGUI  &to 0
                   &tog 1            &tog 5      &tog 6             &tog 4           &tog 2    &tog 2  &tog 3       &tog 5      &tog 6    &tog 1
            >;

            label = "layers";
        };

        adj {
            bindings = <
&bootloader  &trans  &trans  &trans  &trans  &to 0                     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR_ALL
&trans       &trans  &trans  &trans  &trans  &trans                    &trans        &trans        &trans            &trans        &trans        &studio_unlock
&trans       &trans  &trans  &trans  &trans  &trans                    &out OUT_BLE  &kp C_VOL_DN  &kp C_MUTE        &kp C_VOL_UP  &trans        &trans
&trans       &trans  &trans  &trans  &trans  &trans  &trans    &trans  &out OUT_USB  &kp C_PREV    &kp C_PLAY_PAUSE  &kp C_NEXT    &trans        &trans
                     &trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans        &trans            &trans
            >;

            display-name = "Adjust";
        };
    };
};
