#define ZMK_POINTING_DEFAULT_SCRL_VAL 25

// Константы для перемещений

#define MMV_SLOW_ALT_SPEED 250
#define MMV_SLOW_ALT_SPEED_L -250
#define MMV_SLOW_ALT_SPEED_U -250
#define MMV_SLOW_ALT_SPEED_D 250
#define MMV_SLOW_ALT_SPEED_R 250

//

#define MMV_FAST_ALT_SPEED_X 950
#define MMV_FAST_ALT_SPEED_Y 950
#define MMV_FAST_ALT_SPEED_L -950
#define MMV_FAST_ALT_SPEED_U -950
#define MMV_FAST_ALT_SPEED_D 950
#define MMV_FAST_ALT_SPEED_R 950

//

#define MMV_FAST_SPEED_X 1100
#define MMV_FAST_SPEED_Y 750
#define MMV_FAST_SPEED_L -MMV_FAST_SPEED_X
#define MMV_FAST_SPEED_U -MMV_FAST_SPEED_Y
#define MMV_FAST_SPEED_D MMV_FAST_SPEED_Y
#define MMV_FAST_SPEED_R MMV_FAST_SPEED_X

//
//1100x750, 700x480, 600x4100
#define MMV_SUPER_FAST_SPEED_X 600
#define MMV_SUPER_FAST_SPEED_Y 410
#define MMV_SUPER_FAST_SPEED_L -MMV_SUPER_FAST_SPEED_X
#define MMV_SUPER_FAST_SPEED_U -MMV_SUPER_FAST_SPEED_Y
#define MMV_SUPER_FAST_SPEED_D MMV_SUPER_FAST_SPEED_Y
#define MMV_SUPER_FAST_SPEED_R MMV_SUPER_FAST_SPEED_X

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    tapping-term-ms = <180>;
    flavor = "balanced";
    quick-tap-ms = <110>;
};

&msc {
    time-to-max-speed-ms = <8>;
    acceleration-exponent = <5>;
};

&mmv {
    acceleration-exponent = <0>;
    time-to-max-speed-ms = <100>;
    delay-ms = <0>;
};

&lt { tapping-term-ms = <171>; };

/ {
    behaviors {
        enc_vol: enc_vol {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENC_VOL";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOL_UP>, <&kp C_VOL_DN>;
        };

        ctrl_bslh: ctrl_bslh {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_BSLH";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp BACKSLASH>;

            mods = <(MOD_LCTL | MOD_RCTL)>;
        };

        //ru-ю en/alt-ru .

        alt_ru_en_dot: alt_ru_en_dot {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_RU_EN_DOT";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp RS(N7)>;

            mods = <(MOD_LALT | MOD_RALT)>;
        };

        //ru-б en/alt-ru , 

        alt_ru_en_comma: alt_ru_en_comma {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_RU_EN_COMMA";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp RS(N6)>;

            mods = <(MOD_LALT | MOD_RALT)>;
        };

        //ru-ж en/alt-ru ;
        alt_ru_en_semi: alt_ru_en_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_RU_EN_SEMI";
            #binding-cells = <0>;
            bindings = <&mt RGUI SEMI>, <&kp RS(N8)>;
            mods = <(MOD_LALT | MOD_RALT)>;
        };

        //ru-э en/alt-ru "
        alt_ru_en_sqt: alt_ru_en_sqt {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_RU_EN_SQT";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp RS(N2)>;
            mods = <(MOD_LALT | MOD_RALT)>;
        };

        alt_to_5: alt_to_5 {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_TO_5";
            #binding-cells = <0>;
            bindings = <&lt 5 LG(LEFT_BRACKET)>, <&to 5>;

            mods = <(MOD_LALT | MOD_RALT)>;
        };

        // bslh-\ alt-lt7
        //alt_bslh: alt_bslh {
        //            compatible = "zmk,behavior-mod-morph";
        //            label = "ALT_BSLH";
        //            #binding-cells = <0>;
        //            bindings = <&kp BSLH>, <&mo 3>;
        //            mods = <(MOD_LALT | MOD_RALT)>;
        //        };               

        ctrl_left_bracket: ctrl_left_bracket {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_LEFT_BRACKET";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp LEFT_BRACKET>;

            mods = <(MOD_LCTL | MOD_RCTL)>;
        };

        ctrl_right_bracket: ctrl_right_bracket {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_RIGHT_BRACKET";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp RIGHT_BRACKET>;

            mods = <(MOD_LCTL | MOD_RCTL)>;
        };

        ctrl_p_sqt: ctrl_p_sqt {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_P_SQT";
            #binding-cells = <0>;
            bindings = <&kp P>, <&kp SQT>;

            mods = <(MOD_LCTL | MOD_RCTL)>;
        };
/*
        alt_scrl_up: alt_scrl_up {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_SCRL_UP";
            #binding-cells = <0>;
            bindings = <&msc SCRL_UP>,
            <&msc MOVE_Y(100)>;
            mods = <(MOD_RALT)>;
        };

        alt_scrl_down: alt_scrl_down {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_SCRL_DOWN";
            #binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>,
            <&msc MOVE_Y(-100)>;
             mods = <(MOD_RALT)>;
        };
        */

        ralt_y_up3: ralt_y_up3 {
            compatible = "zmk,behavior-mod-morph";
            label = "RALT_Y_UP3";
            #binding-cells = <0>;
            bindings = 
            <&mmv MOVE_Y(MMV_SLOW_ALT_SPEED_U)>, 
            <&mmv MOVE_Y(MMV_SUPER_FAST_SPEED_U)>;
            mods = <(MOD_RALT)>;
        };

        ralt_y_down3: ralt_y_down3 {
            compatible = "zmk,behavior-mod-morph";
            label = "RALT_Y_DOWN3";
            #binding-cells = <0>;
            bindings = 
            <&mmv MOVE_Y(MMV_SLOW_ALT_SPEED_D)>, 
            <&mmv MOVE_Y(MMV_SUPER_FAST_SPEED_D)>;
            mods = <(MOD_RALT)>;
        };

        ralt_x_left3: ralt_x_left3 {
            compatible = "zmk,behavior-mod-morph";
            label = "RALT_X_LEFT3";
            #binding-cells = <0>;
            bindings =
                <&mmv MOVE_X(MMV_SLOW_ALT_SPEED_L)>,
                <&mmv MOVE_X(MMV_SUPER_FAST_SPEED_L)>;

            mods = <(MOD_RALT)>;
        };

        ralt_x_right3: ralt_x_right3 {
            compatible = "zmk,behavior-mod-morph";
            label = "RALT_X_RIGHT3";
            #binding-cells = <0>;
            bindings =
                <&mmv MOVE_X(MMV_SLOW_ALT_SPEED_R)>,
                <&mmv MOVE_X(MMV_SUPER_FAST_SPEED_R)>;
            mods = <(MOD_RALT)>;
        };   
    
    /* base mouse */
    
    ralt_base_left: ralt_base_left {
                    compatible = "zmk,behavior-mod-morph";
                    label = "ralt_base_left";
                    #binding-cells = <0>;
                    bindings =
                        <&kp M>,
                        <&mmv MOVE_X(MMV_SUPER_FAST_SPEED_L)>;        
                    mods = <(MOD_RALT)>;
                };
                
    ralt_base_up: ralt_base_up {
                compatible = "zmk,behavior-mod-morph";
                label = "RALT_BASE_UP";
                #binding-cells = <0>;
                bindings = 
                <&kp COMMA>, 
                <&mmv MOVE_Y(MMV_SUPER_FAST_SPEED_U)>;
                mods = <(MOD_RALT)>;
            };
    
            ralt_base_down: ralt_base_down {
                compatible = "zmk,behavior-mod-morph";
                label = "ralt_base_down";
                #binding-cells = <0>;
                bindings = 
                <&kp DOT>, 
                <&mmv MOVE_Y(MMV_SUPER_FAST_SPEED_D)>;
                mods = <(MOD_RALT)>;
            };
    
            ralt_base_right: ralt_base_right {
                compatible = "zmk,behavior-mod-morph";
                label = "ralt_base_right";
                #binding-cells = <0>;
                bindings =
                    <&kp SLASH>,
                    <&mmv MOVE_X(MMV_SUPER_FAST_SPEED_R)>;
                mods = <(MOD_RALT)>;
            };        
        /* end base mouse */
        
        layer_hold_tap: layer_hold_tap {
                    compatible = "zmk,behavior-hold-tap";
                    label = "LAYER_HOLD_TAP";
                    #binding-cells = <2>;
                    tapping-term-ms = <200>;           // Интервал в мс для определения тапа (можно настроить под себя)
                    quick-tap-ms = <0>;                // Отключаем быстрый тап
                    flavor = "tap-preferred";          // Приоритет тапа при быстрых нажатиях
                    bindings = <&tog>, <&kp>;           // <удержание>, <тап>
                };
        
        };

    combos {
        compatible = "zmk,combos";

        M__ENTER {
            bindings = <&kp ENTER>;
            key-positions = <45 46>;
            layers = <0 5 6 1 2 7>;
        };

        JK_ENTER {
            bindings = <&kp ENTER>;
            key-positions = <31 32>;
            layers = <3 4>;
        };

        VB_ENTER {
            bindings = <&kp ENTER>;
            key-positions = <41 40>;
        };

        UI_REVERT {
            bindings = <&kp RG(Z)>;
            key-positions = <20 19>;
            layers = <0 1 3 4 4 5>;
        };

        UIO_REPEAT {
            bindings = <&kp LS(LG(Z))>;
            key-positions = <19 20 21>;
            layers = <0 1 3 4 4 5>;
        };

        JK_MOUSE1 {
            bindings = <&mkp MB1>;
            key-positions = <45 46>;
            layers = <3 4>;
        };

        JKL_MOUSE2 {
            bindings = <&mkp MB2>;
            key-positions = <45 46 47>;
            layers = <3 4>;
        };

        DF_MOUSE1 {
            bindings = <&mkp MB1>;
            key-positions = <40 39>;
        };

        SDF_MOUSE2 {
            bindings = <&mkp MB2>;
            key-positions = <40 39 38>;
        };
        
        SHIFT_TOGGLE {
           bindings = <&kt LSHIFT>;
           key-positions = <31 28>;
        };
        
        R_ALT_TOGGLE {
           bindings = <&kt RALT>;
           key-positions = <44 45>;
        };
        
        TO_NAV_R {
            bindings = <&tog 3>;
            key-positions = <56 32 31>;
        };
        
        TO_NAV_R_2 {
                    bindings = <&tog 3>;
                    key-positions = <45 56 46>;
                };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
            
/* row 1 L*/
&kp ESC
&kp F2
&layer_hold_tap 5 F3
&layer_hold_tap 6 F4
&layer_hold_tap 4 F5
&layer_hold_tap 2 F6
/* row 1 R*/
&layer_hold_tap 3 F7
&layer_hold_tap 2 F8
&layer_hold_tap 5 F9
&layer_hold_tap 6 F10
&kp F11
&kp F12

/* row 2 L*/
&kp LG(TAB)
&kp Q
&kp W
&kp E
&kp R
&kp T
/* row 2 R*/
&kp Y
&kp U
&kp I
&kp O
&kp P
&kp GRAVE

/* row 3 L*/
&kp LG(LEFT_BRACKET)
&mt LGUI A
&mt LCTRL S
&mt LALT D
&mt LSHFT F
&kp G
/* row 3 R*/
&kp H
&mt RSHIFT J
&mt RALT K
&mt RCTRL L
&mt RGUI SEMI
&kp SQT

/* row 4 L*/
&alt_to_5
&kp Z
&kp X        
&kp C        
&kp V        
&kp B        
&lt 7 CAPS    
&lt 7 ENTER
/* row 4 R*/
&kp N
&ralt_base_left
&ralt_base_up
&ralt_base_down
&ralt_base_right
&kp BSLH

/* row 5 L*/
&lt 7 MINUS
&lt 5 EQUAL
&lt 6 TAB
&lt 4 SPACE
&lt 2 DEL
/* row 5 R*/
&lt 2 ESC
&lt 3 RG(RC(SPACE))
&lt 5 BACKSPACE
&lt 6 LBKT
&lt 7 RIGHT_BRACKET

            >;
            display-name = "base";
        };

        base_mirror {
            bindings = <
&kp ESC     &kp F8         &kp F9       &kp F10     &kp F11          &kp F12                                  &kp F2       &kp F3       &kp F4       &kp F5       &kp F6      &kp F7
&kp GRAVE   &kp P          &kp O        &kp I       &kp U            &kp Y                                    &kp T        &kp R        &kp E        &kp W        &kp Q       &kp LG(TAB)
&kp SQT     &mt RGUI SEMI  &mt RCTRL L  &mt RALT K  &mt RSHIFT J     &kp H                                    &kp G        &mt LSHFT F  &mt LALT D   &mt LCTRL S  &mt LGUI A  &none
&lt 7 BSLH  &kp FSLH       &kp DOT      &kp COMMA   &kp M            &kp N            &trans       &trans     &kp B        &kp V        &kp C        &kp X        &kp Z       &to 0
                           &kp LBKT     &lt 5 RBKT  &lt 6 BACKSPACE  &lt 4 LC(SPACE)  &lt 2 ESC    &lt 2 DEL  &lt 3 SPACE  &lt 5 TAB    &lt 6 EQUAL  &kp MINUS
            >;

            display-name = "base-mirror";
        };

        funct {
            bindings = <
&kp MINUS  &kp N1       &kp N2                &kp N3                 &kp N4         &kp N5                             &kp N6        &kp N7         &kp N8                &kp N9                 &kp N0       &kp EQUAL
&trans     &kp F3       &kp F9                &kp F8                 &kp F7         &kp ESCAPE                         &kp TAB       &kp F7         &kp F8                &kp F9                 &kt F3       &none
&trans     &mt LGUI F2  &mt LCTRL F6          &mt LALT F5            &mt LSHIFT F4  &kp CAPS                           &kp SPACE     &mt RSHFT F4   &mt RALT F5           &mt RCTRL F6           &mt RGUI F2  &none
&trans     &kp F1       &kp F12               &kp F11                &kp F10        &kp BACKSPACE  &trans     &trans   &kp DELETE    &kp F10        &kp F11               &kp F12                &kp F1       &mo 7
                        &kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)  &kp TAB        &kp SPACE      &kp DEL    &kp ESC  &kp CAPSLOCK  &kp BACKSPACE  &kp RG(LEFT_BRACKET)  &kp RG(RIGHT_BRACKET)
            >;

            display-name = "funct";
        };

        nav-r {
            bindings = <
            
/* ряд 1 L*/
&trans          &trans                         &trans                         &trans                         &trans                         &trans
/* ряд  1 R*/                                     
&trans          &trans                             &trans                &trans                 &trans                             &trans

/* ряд 2 L*/
&msc SCRL_LEFT  &msc SCRL_DOWN                 &msc SCRL_UP                   &kp PAGE_DOWN                  &kp PAGE_UP                    &msc SCRL_RIGHT   
/* ряд 2 R*/
&msc SCRL_LEFT  &kp PG_UP &kp PAGE_DOWN &msc SCRL_UP &msc SCRL_DOWN &msc SCRL_RIGHT

/* ряд 3 L*/
&none           &kp LGUI                       &kp LCTRL                      &kp LALT                       &kp LSHFT                      &kp LG(TAB)      
/* ряд 3 R*/                          
&kp RG(TAB)     &kp LEFT_ARROW          &kp UP           &kp DOWN          &kp RIGHT_ARROW                    &kp RALT
                          
/* ряд 4 L*/                          
&trans
&mmv MOVE_X(MMV_FAST_SPEED_L)
&mmv MOVE_Y(MMV_FAST_SPEED_D)  &mmv MOVE_Y(MMV_FAST_SPEED_U)  &mmv MOVE_X(MMV_FAST_SPEED_R)  &none &trans
/* ряд 4 R*/
&trans      &kt RALT        &ralt_x_left3  &ralt_y_up3   &ralt_y_down3    &ralt_x_right3  &kp RIGHT_ALT
            
/* ряд 5 L*/            
&kp LG(LEFT_BRACKET)           &kp LG(RIGHT_BRACKET)          &kp TAB                        &kp SPACE        &kp DELETE    
/* ряд 5 R*/                                               
&kp ESCAPE  &kp CAPSLOCK    &kp BACKSPACE                      &kp RG(LEFT_BRACKET)  &kp RG(RIGHT_BRACKET)

>;

            display-name = "nav-r";
        };

        nav-l {
            bindings = <
&trans          &trans                             &trans                             &trans                             &trans                             &trans                                  &trans          &trans                         &trans                         &trans                         &trans                         &trans
&msc SCRL_LEFT  &msc SCRL_DOWN                     &msc SCRL_UP                       &kp PAGE_DOWN                      &kp PG_UP                          &msc SCRL_RIGHT                         &msc SCRL_LEFT  &kp PAGE_UP                    &kp PAGE_DOWN                  &msc SCRL_UP                   &msc SCRL_DOWN                 &msc SCRL_RIGHT
&none           &kp LEFT                           &kp DOWN                           &kp UP                             &kp RIGHT_ARROW                    &kp LG(TAB)                             &none           &kp RSHFT                      &kp RALT                       &kp RCTRL                      &kp RGUI                       &none
&trans          &mmv MOVE_X(MMV_SLOW_ALT_SPEED_L)  &mmv MOVE_Y(MMV_SLOW_ALT_SPEED_D)  &mmv MOVE_Y(MMV_SLOW_ALT_SPEED_U)  &mmv MOVE_X(MMV_SLOW_ALT_SPEED_R)  &kp LEFT_ALT     &trans        &none    &kp RIGHT_ALT   &mmv MOVE_X(MMV_FAST_SPEED_L)  &mmv MOVE_Y(MMV_FAST_SPEED_U)  &mmv MOVE_Y(MMV_FAST_SPEED_D)  &mmv MOVE_X(MMV_FAST_SPEED_R)  &kp RIGHT_ALT
                                                   &kp LG(LEFT_BRACKET)               &kp LG(RIGHT_BRACKET)              &kp TAB                            &kp SPACE        &kp DELETE    &kp ESC  &kp CAPSLOCK    &kp BACKSPACE                  &kp RG(LEFT_BRACKET)           &kp RG(RIGHT_BRACKET)
            >;

            display-name = "nav-l";
        };

        num {
            bindings = <
&kp MINUS  &kp N1         &kp N2        &kp N3       &kp N4        &kp N5                            &kp N6        &kp N7         &kp N8            &kp N9        &kp N0          &kp EQUAL
&trans     &kp LS(MINUS)  &kp N9        &kp N8       &kp N7        &kp PLUS                          &kp PLUS      &kp N7         &kp N8            &kp N9        &kp RS(MINUS)   &none
&trans     &mt LGUI N0    &mt LCTRL N6  &mt LALT N5  &mt LSHFT N4  &kp MINUS                         &kp MINUS     &mt RSHIFT N4  &mt RIGHT_ALT N5  &mt RCTRL N6  &mt RGUI N0     &none
&trans     &kp PERIOD     &kp N3        &kp N2       &kp N1        &kp EQUAL  &trans        &trans   &kp EQUAL     &kp N1         &kp N2            &kp N3        &alt_ru_en_dot  &mo 7
                          &trans        &trans       &kp TAB       &kp SPACE  &kp DELETE    &kp ESC  &kp CAPSLOCK  &kp BACKSPACE  &trans            &trans
            >;

            label = "num";
        };

        symb {
            bindings = <
/* row 1 L*/            
&kp LS(MINUS)
&kp LS(N1)
&kp LS(N2)
&kp LS(N3)
&kp LS(N4)
&kp LS(N5)
/* row 1 R*/                            
&kp RS(N6)
&kp RS(N7)
&kp RS(N8)            &kp RS(N9)             &kp RS(N0)       &kp RS(EQUAL)

/* row 2 L*/
&trans  &kp LEFT_BRACKET    &kp LS(N9)  &kp LS(N8)  &kp LS(N7)  &kp ESCAPE

/* row 2 R*/
&kp EQUAL   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RS(N6)  &kp RS(N7)  &kp RS(N2)

/* row 3 L*/
&kp DOUBLE_QUOTES   &kp LS(N0)   &kp LS(N6) &kp LS(N5) &kp RS(N4)   &kp CAPSLOCK
/* row 3 R*/   
&kp MINUS    &kp RS(N5)  &kp RS(N6)  &kp RS(N7)  &kp RS(N8)  &kp SINGLE_QUOTE

/* row 4 L*/
&trans  &kp RIGHT_BRACKET  &kp RS(N3)   &kp RS(N2)  &kp RS(N1)  &kp BACKSPACE  &trans
/* row 4 R*/
&trans   &kp SLASH  &kp RS(N1)   &kp RS(N2)    &kp RS(N3)  &kp RS(N4)  &kp BACKSLASH

/* row 5 L*/
&kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp TAB    &kp SPACE   &kp DELETE    
/* row 5 R*/
&kp ESC  &kp CAPSLOCK  &kp BACKSPACE    &kp RS(N5)  &kp RS(N8)

            >;
            label = "symb";
        };

        layers {
            bindings = <
&to 0  &kp C_PREV        &kp C_PLAY_PAUSE  &kp C_NEXT    &kp C_VOLUME_DOWN  &kp C_VOLUME_UP                    &kp F14       &kp F15       &none     &none      &none     &to 8
&to 0  &kp LEFT_COMMAND  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_SHIFT     &kp ESCAPE                         &kp TAB     &kp RSHIFT  &kp RALT  &kp RCTRL  &kp RGUI  &to 0
&to 0  &kp LGUI          &kp LCTRL         &kp LALT      &kp LSHIFT         &kp CAPSLOCK                       &kp SPACE   &kp RSHIFT  &kp RALT  &kp RCTRL  &kp RGUI  &to 0
&to 0  &kp LGUI          &kp LCTRL         &kp LALT      &kp LSHFT          &kp DELETE       &trans    &trans  &kp DELETE  &kp RSHIFT  &kp RALT  &kp RCTRL  &kp RGUI  &to 0
                         &tog 1            &tog 5        &tog 6             &tog 4           &tog 2    &tog 2  &tog 3      &tog 5      &tog 6    &tog 1
            >;

            label = "layers";
        };

        adj {
            bindings = <
&bootloader  &trans  &trans  &trans  &trans  &to 0                     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR_ALL
&trans       &trans  &trans  &trans  &trans  &trans                    &trans        &trans        &trans            &trans        &trans        &studio_unlock
&trans       &trans  &trans  &trans  &trans  &trans                    &out OUT_BLE  &kp C_VOL_DN  &kp C_MUTE        &kp C_VOL_UP  &trans        &trans
&to 0        &trans  &trans  &trans  &trans  &trans  &trans    &trans  &out OUT_USB  &kp C_PREV    &kp C_PLAY_PAUSE  &kp C_NEXT    &trans        &to 0
                     &trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans        &trans            &trans
            >;

            display-name = "Adjust";
        };
    };
};
